<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Sistema SPFC</title>
    <link rel="icon" href="{{ url_for('static', filename='fotos_gerais/favicon.png') }}" type="image/x-icon">

    {% block head %}
    {% endblock %}

</head>
<body>
    {% include 'navbar.html' %}

    {% with mensagens = get_flashed_messages(with_categories=True) %}
        {% if mensagens %}
            {% for categoria, mensagem in mensagens %}
                <div class="container alert {{ categoria }} flash-message">
                    {{ mensagem }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        setTimeout(function() {
            let mensagens = document.querySelectorAll(".flash-message");
            mensagens.forEach(function(msg) {
                msg.style.transition = "opacity 0.5s ease"; // Adiciona um efeito suave
                msg.style.opacity = "0"; // Faz a mensagem desaparecer
                setTimeout(() => msg.remove(), 500); // Remove do DOM após o fade-out
            });
        }, 3000);
    </script>

</body>
</html>