{% extends 'base.html' %}

{% block head %}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{{ url_for('static', filename='loginout.css') }}">
{% endblock %}

{% block body %}
<body>
<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="w-50 p-4 shadow bg-light" style="border-radius: 35px">  <!-- Define a largura máxima dos inputs e adiciona estilo -->
        <div class="d-flex align-items-center justify-content-center gap-2">
            <img src="{{ url_for('static', filename='fotos_gerais/madecotia.jpg') }}" alt="Logo" class="logo">
            <h1 class="m-0">CADASTRO</h1>
        </div>
        <div style="width: 100%; height: 3px; background-color: #6c0408;" class="mb-3"></div>



        <form method="POST" action="">
            {{ form_cadastrospfc.csrf_token }}
            <fieldset>
                
                <div class="form-group">
                    {% if form_cadastrospfc.username.errors %}
                        {{ form_cadastrospfc.username(class="form-control is-invalid") }}
                        <div class="invalid-feedback mb-3">
                            {% for erro in form_cadastrospfc.username.errors %}
                            {{ erro }}
                        {% endfor %}
                        </div>
                    {% else %}
                        <div class="input-group mb-5 mt-4">
                           {{ form_cadastrospfc.username(class="form-control", placeholder="nome completo") }}
                            <span class="input-group-text"><i class='bx bxs-user'></i></span>
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {% if form_cadastrospfc.email.errors %}
                        {{ form_cadastrospfc.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback mb-4">
                            {% for erro in form_cadastrospfc.email.errors %}
                            {{ erro }}
                        {% endfor %}
                        </div>
                    {% else %}
                        <div class="input-group mb-5">
                           {{ form_cadastrospfc.email(class="form-control", placeholder="email@saopaulofc.net") }}
                            <span class="input-group-text"><i class='bx bxs-user'></i></span>
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {% if form_cadastrospfc.senha.errors %}
                        {{ form_cadastrospfc.senha(class="form-control is-invalid") }}
                        <div class="invalid-feedback mb-4">
                            {% for erro in form_cadastrospfc.senha.errors %}
                                {{ erro }}
                             {% endfor %}
                        </div>
                    {% else %}
                        <div class="input-group mb-5">
                            {{ form_cadastrospfc.senha(class="form-control", placeholder="senha") }}
                            <span class="input-group-text"><i class='bx bxs-lock-alt'></i></span>
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {% if form_cadastrospfc.confirmacao_senha.errors %}
                        {{ form_cadastrospfc.confirmacao_senha(class="form-control is-invalid") }}
                        <div class="invalid-feedback mb-3">
                            {% for erro in form_cadastrospfc.confirmacao_senha.errors %}
                                {{ erro }}
                             {% endfor %}
                        </div>
                    {% else %}
                        <div class="input-group mb-4">
                            {{ form_cadastrospfc.confirmacao_senha(class="form-control", placeholder="confirmação de senha") }}
                            <span class="input-group-text"><i class='bx bxs-lock-alt'></i></span>
                        </div>
                    {% endif %}
                </div>

            </fieldset>

            <div class="text-center mt-3 d-flex gap-2">
                <a href="{{ url_for('loginspfc') }}" class="btn btn-custom w-50">Voltar pra Login</a>
                {{ form_cadastrospfc.botao_submit_criar_conta(class="btn btn-custom w-50") }}
            </div>

        </form>
    </div>
</div>
</body>
{% endblock %}
